*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#me{
  background-image: url("../img/me1.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  padding: 20px 30px;

}

#me img{
  border-radius: 50%; 
}
.col-sm-12 img{
  height: 300px;
  width: 300px;
}
#about{
  background-image: url("../img/about.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 20px 30px;
  height: 50vh;
  padding: 40px 30px;  
}
#contact{
  background-image: url("../img/contact.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 20px 30px;
  height: 50vh;
  padding: 40px 30px;

}
.row h2, h4{
color: white;
}
#skills{
  background-image: url("../img/skills.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  padding: 20px 30px;
 
  padding: 70px 30px;

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
.col-sm-12 img{
  height: 200px;
  width: 200px;
}
#me{
  height: 70vh;
}
#contact{
  height: 50vh;
}
}

