*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 .navmenu{
 	overflow: hidden;
  	background-color: #333;
    position: fixed;
    bottom: 10px;
    width: 100%;
    float:right;    
 }
 .navmenu a{
 	float: left;
  	display: block;
  	color: grey;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
  	margin: 0 5px 0;
  	border: 2px solid white;
  	border-radius: 10%;
 }
 .navmenu a:hover {
  	background: skyblue;
  	color: white;  	
}
.header{
	text-align: center;
	margin: 100px auto;
	color: white;
	padding: 16px;
}
.header img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 2px solid white;
}
.header a{
	color: white;
}
.header h1 a:hover{
	text-decoration: none;
	color: skyblue;

}
